<!DOCTYPE html>
<html>
<head>
    <title>Task</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="###">
Name :<input type="text" /><br>
Description:<input type="text" />  <br>
Own by : <input type="text" /><br>
Due By : <input type="date" /><br>
<button type="submit">Submit</button><br>
<button type="reset">Reset</button>
</form>

</body>
</html>
